---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello Cloudflare ☁️</h1>
      <p>
        Cloudfront offers a free tier (1TB per month). I actually went to the
        Connect Cloudflare convention held in Sydney and there were many talks
        emphasising on security and deploying on the edge with many talks from
        reputable companies such as Safety Culture and Atlassian. It seems like
        Cloudflare is quite up to date you could say in the tech space. This
        page uses one of their service called <a
          href="https://developers.cloudflare.com/pages/framework-guides/deploy-anything/"
        >
          Cloudflare pages
        </a> which allows us to host my static Astro frontend (this website).
      </p>
      <p>
        The main advantage with using Cloudflare is as follows
        <ul>
          <li>
            Speed - reduction of load times due to edge node deployment and also
            its global CDN. It also does caching, load balancing
          </li>
          <li>
            Security - Robust and up to date security including DDoS protection
            (in the free tier), secure SSL
          </li>
          <li>
            Easy Setup - As this site will show, the process is super easy!
          </li>
          <li>
            Free forever - So cloudflare is free forever (seems like a loss
            leader strategy on trying to make us use their other services - but
            still I like free stuff). Apparently if you do choose to scale there
            is obviously a paid portion which apparently is good.
          </li>
        </ul>
      </p>

      <h2>How to host a static website (explained simply)</h2>
      <ol>
        <li>
          Create a website using a Framework. I am currently using Astro (one of
          my favourite frameworks for quick static websites). To make life
          easier (but not necessary to do) choosing from these <a
            href="https://developers.cloudflare.com/pages/configuration/build-configuration/#framework-presets"
            >list of frameworks</a
          > for easy integration. Technically you can just provide a html/css/javascript
          file and that works as well!
        </li>
        <li>
          Once you have created your website. Make sure to upload it to a git
          repo
        </li>
        <li>
          Create a new cloudflare page, and choose the step to link your Github
        </li>
        <li>
          Choose your project and make sure to slect the Framework in the preset
          section that you used.
        </li>
        <li>
          Click deploy and it really is that easy! Of course things can get more
          complicated if you have environment variables to pass in.
        </li>

        <li>
          Next we have to make sure to connect it to a specific domain. I
          purchased this domain previously using vercel
        </li>
      </ol>
    </main>

    <Footer />
  </body>
</html>
